body {
  background-color: rgba(4, 7, 23, 0.72);
}

.App {
  text-align: center;
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-weight: 300;
  color: aliceblue;

}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-title {
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.center {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid aliceblue;
  vertical-align: center;
  border-radius: 20pt;
  padding: 20px;
}

.button {
  border-radius: 20pt;
  height: fit-content(140%);

}

.BUTTON_HOF {
  background: #61DAFB -webkit-linear-gradient(#61DAFB, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 40px;
  font-size: calc(10px + 1vmin);
  color: aliceblue;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_HOF:hover {
  border: solid #337FED 1px;
  background: #1E62D0 -webkit-linear-gradient(#1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.space {
  margin-bottom: 2cm;
}